{% extends "two_factor/_base_focus.html" %}
{% load i18n %}
{% load static %}
{% load account %}

{% block content %}
<div class="ui segment">
  <img class="ui image" style="margin: auto" width="200px" src="{% static '' %}">

  <div class="ui large header">
    {% block title %}{% trans "Confirm E-mail Address" %}{% endblock %}
  </div>

  {% if confirmation %}
    {% user_display confirmation.email_address.user as user_display %}

    <div class="ui header">
      <div class="sub header" style="text-align: justify;">
        {% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}
      </div>
    </div>

    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}" class="ui form">
      {% csrf_token %}

      <div class="ui two buttons">
        <a href="{% url 'index' %}" class="ui button">{% trans "Back" %}</a>
        <button type="submit" class="ui button primary">{% trans 'Confirm' %}</button>
      </div>
    </form>
  {% else %}
    {% url 'account_email' as email_url %}

    <div class="ui warning message">
      {% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}
    </div>

    <a href="{% url 'index' %}" class="fluid ui button">{% trans "Back" %}</a>
  {% endif %}
</div>
{% endblock %}