{% extends "two_factor/_base_focus.html" %}
{% load i18n %}
{% load account %}
{% load static %}

{% block content %}
<div class="ui segment">
  <img class="ui image" style="margin: auto" width="200px"
       src="{% static '' %}">

  <div class="ui large header">
    {% block title %}{% trans "Password Reset" %}{% endblock %}
  </div>

  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <div class="ui header">
    <div class="sub header" style="text-align: justify;">
      {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
    </div>
  </div>

  <form method="POST" action="{% url 'account_reset_password' %}" class="ui form">
    {% csrf_token %}
    {% include "two_factor/_form.html" with form=form %}

    <div class="ui two buttons">
      <a href="{% url 'index' %}" class="fluid ui button">{% trans "Back" %}</a>
      <input type="submit" value="{% trans 'Reset My Password' %}"
            class="ui button primary" />
    </div>
  </form>

  <div class="ui info message">
    {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
  </div>
</div>
{% endblock %}