{% extends "two_factor/_base_focus.html" %}
{% load i18n %}
{% load static %}
{% load debug %}

{% block content %}
<div class="ui segment">
  <img class="ui image" style="margin: auto" width="200px"
       src="{% static '' %}">

  <div class="ui large header">
    {% block title %}
      {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
    {% endblock %}
  </div>

  {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <div class="ui negative message">
      {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
    </div>
  {% else %}
    {% if form %}
      <form method="POST" action="{{ action_url }}" class="ui form">
        {% csrf_token %}
        {% include "two_factor/_form.html" with form=form %}

        <div class="ui two buttons">
          <a href="{% url 'index' %}" class="fluid ui button">{% trans "Back" %}</a>
          <input type="submit" name="action" value="{% trans 'change password' %}"
                 class="ui button primary"/>
        </div>
      </form>
    {% else %}
      <div class="ui warning message">
        {% trans 'Your password is now changed.' %}
      </div>
    {% endif %}
  {% endif %}
</div>
{% endblock %}