{% extends "two_factor/_base_focus.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="ui segment">
  <img class="ui image" style="margin: auto" width="200px"
       src="{% static '' %}">

  <div class="ui large header">
    {% block title %}{% trans "Verify Your E-mail Address" %}{% endblock %}
  </div>

  {% url 'account_email' as email_url %}

  <div class="ui header">
    <div class="sub header" style="text-align: justify;">
      <p>{% blocktrans %}This part of the site requires us to verify that
you are who you claim to be. For this purpose, we require that you
verify ownership of your e-mail address. {% endblocktrans %}</p>

      <p>{% blocktrans %}We have sent an e-mail to you for
verification. Please click on the link inside this e-mail. Please
contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    </div>
  </div>

  <p>{% blocktrans %}<strong>Note:</strong> you can still <a href="{{ email_url }}">change your e-mail address</a>.{% endblocktrans %}</p>
</div>
{% endblock %}