/* APP */
.app {
    background-color: #ECEFF1;
    min-height: calc(100vh - 113px);
}

/* MENU */

.ui.menu.top-menu {
    background-color: #24292e;
    border-radius: unset;
    border-top: unset !important;
}
.ui.menu.top-menu .menu-dropdown,
.ui.menu.top-menu .dropdown .menu{
    z-index: 970;
}
.ui.top-menu-filter{
    z-index: 960;
}

.logo-menu {
    width: 90px;
}

.top-menu-filter {
    background-color: #24292e !important;
}

/* .ui.menu. */
.secondary-menu {
    background-color: #059be5 !important;
    border-radius: unset;
    border-top: unset !important;
    margin: unset !important;
    z-index: 950;
}
.ui.menu.secondary-menu .menu-dropdown {
    z-index: 950;
}
.ui.menu.secondary-menu .dropdown{
    z-index: 950;
}

.ui.secondary.inverted.pointing.menu.secondary-menu {
    border-color: rgba(255,255,255,.1);
    border-width: 2px 0px;
}

.menu-dropdown {
    min-width: 300px !important;
}

.menu-dropdown-header,
.menu-dropdown-button {
    padding: unset !important;
}

.ui.accordion.menu .item .title>.dropdown.icon {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

/* SIDEBAR */
.ui.wide.left.sidebar, .ui.wide.right.sidebar {
    background-color: rgba(27,28,29,1.0);
    width: 210px;
}